body {color:nAliceBlue}

.toni {
color:yellow;
  text-align:center;}

p {
  text-align: center;
  margin-left: 40px;
  margin-right:40px}
img{display:block;
    margin:zero auto;
    width:50%}


