body {
  background-color: AliceBlue;
  colour: black}

.toni {
  color:navy;
  text-align:center}

h1,h2,h3 {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  colour: navy}

h2,h3 {
  margin-left: 40px;
  margin-right: 40px}
p {
  margin-left: 100px;
  margin-right:100px;
  font-family: Helvetica, Arial, sans-serif}
  
img{
  display:block;
  margin:0 auto;
  width: 200px}

a{ 
  colour:LemonChiffon;
  text-decoration: none}

a:visited{
  colour:RoyalBlue}

img {
  display: block;
  margin: 0 auto}















