body {
  background-color: AliceBlue;
  colour: black}

.toni {
color:black;
  text-align:center;}
h1,h2,h3 {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  colour: darkblue}
h2,h3 {
  margin-left: 40px;
  margin-right: 40px}
p {
  margin-left: 40px;
  margin-right:40px;
  font-family: Helvetica, Arial, sans-serif}
  
imggini{display:block;
    margin:zero auto;
    width:50%}





