tbody {
  background-color: AliceBlue;
  colour: navy}

.toni {
  color:navy;
  text-align:center}

h1,h2,h3 {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  colour: navy}

h2,h3 {
  margin-left: 100px;
  margin-right: 100px}
p {
  margin-left: 100px;
  margin-right:100px;
  font-family: Helvetica, Arial, sans-serif}
  
img{
  display:block;
  margin:0 auto;
  text-align: center;
  width: 200px;
  height: 200px;
  object-fit: cover}

a { 
  colour:LemonChiffon;
  text-decoration: none}

a:visited{
  colour:RoyalBlue}

















